.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
  margin-bottom: 30px;
  height: 70vh;
  overflow-y: auto;

  & > div {
    height: fit-content;
    padding: 20px;
    width: 100%;
    font-size: 14px;
  }
}

.point-div {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 14px;
}

.rank-name, .rank-points {
  flex: 0 1 auto;
  /* Permite que o item tenha o tamanho necessário */
}

.rank-input {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.dots {
  flex: 1;
  height: 1px;
  padding: 0px 1px;
  background: linear-gradient(to right,
      black 50%,
      transparent 50% 100%);
  background-size: 4px 4px;
  align-self: flex-end;
  margin: 2px;
}