.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
  margin-bottom: 30px;
  height: 70vh;
  overflow-y: auto;

  & > div {
    height: fit-content;
    padding: 20px;
    width: 100%;
    font-size: 14px;
  }
}
